<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtgynAQaxOLid1pS5YxmW-dkhaXIAXfUs</string>
	<key>GCM_SENDER_ID</key>
	<string>491939504700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marte.marte</string>
	<key>PROJECT_ID</key>
	<string>carapp-65738</string>
	<key>STORAGE_BUCKET</key>
	<string>carapp-65738.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491939504700:ios:2d6ac42f4f74afe0c71939</string>
</dict>
</plist>